$cal-font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
$cal-link: #e32000;
$cal-link-dark: darken($cal-link,5%);
$cal-link-darker: darken($cal-link,10%);
$cal-body: #141414;
$cal-body-dark: darken($cal-body,5%);
$cal-body-darker: darken($cal-body,10%);
$cal-body-light: lighten($cal-body,5%);
$cal-body-lighter: lighten($cal-body,10%);
$cal-text: white;
$cal-text-dark: darken($cal-text,15%);
$cal-text-darker: darken($cal-text,50%);

$bubble-title-text: #e32000;
$bubble-hr-bg: $bubble-title-text;

$loading-tag-bg: $cal-link-darker;
$loading-tag-text: white;

// Date Selector
$dp-header: $cal-body-darker;
$dp-header-text: $cal-text;
$dp-header-text-weekend: $cal-text;
$dp-bg: $cal-body;
$dp-bg-weekend: $cal-body-light;
$dp-text: $cal-text;
$dp-text-off: $cal-text-darker;
$dp-selected-bg: $cal-body-lighter;
$dp-selected-weekend-bg: $cal-body-lighter;
$dp-selected-text: $cal-text;
$dp-today-bg: $cal-body-lighter;
$dp-today: $cal-text;
$dp-today-border: $cal-link;
$dp-hover-bg: $cal-link;
$dp-hover-text: $cal-text;

// Calendar Header Variables
$cal-header-bg: $cal-body-dark;

$today-btn-bg: transparent;
$today-btn-border: 1px solid $cal-text;
$today-btn-text: $cal-text;
$today-btn-hover-bg: $cal-text;
$today-btn-hover-border: $today-btn-border;
$today-btn-border-radius: 3px;
$today-btn-hover-text: $cal-body-light;

$date-top-text: $cal-text;
$date-top-bg: $cal-header-bg;
$date-top-on-bg: $cal-body;
$date-top-popup-bg: $cal-body-darker;
$date-top-popup-text: $cal-text;
$date-top-popup-weekend-bg: lighten($date-top-popup-bg,10%);
$date-top-popup-weekend-text: lighten($date-top-popup-text,5%);
$date-top-off-month-text: darken($date-top-popup-weekend-text,50%);
$date-top-popup-border: $cal-text;
$date-top-popup-today-bg: $cal-link;
$date-top-popup-today-border: $cal-link;
$date-top-popup-today-text: $cal-text;

$tabs-selected-bg: $cal-body;
$tabs-selected-text: $cal-text;
$tabs-unselected-bg: $cal-header-bg;
$tabs-unselected-text: $cal-link;

// Month View Variables
$day-bg: $cal-body;
$day-border: $cal-body-lighter;
$day-text: $cal-text;
$day-time-text: $cal-link-dark;

$day-header-bg: $cal-body-dark;
$day-header-border: $day-border;

$day-names-text: $cal-text;
$day-names-bg: $cal-body;

$day-today-header-bg: $cal-link-dark;
$day-today-header-border: $day-border;
$day-today-header-text: $cal-text;
$day-today-bg: $date-top-popup-today-bg;
$day-today-border: $cal-link-dark;

// Week View Variables
$wk-day-text: $cal-text;

$wk-today-header-bg: $day-today-header-bg;
$wk-today-bg: $cal-body-lighter;
$wk-today-border: $day-today-border;
$wk-now-marker: $wk-today-border;

$wk-event-header-bg: $cal-body-lighter;
$wk-event-header-text: $cal-link-dark;
$wk-event-bg: $cal-body-dark;
$wk-event-border: $cal-body-darker;
$wk-event-text: $cal-text;

$wk-grid-horizontal: $cal-body-darker;
$wk-grid-vertical: $wk-grid-horizontal;

// Agenda View Variables
$ag-event-header-text: $day-names-text;
$ag-event-header-bg: $day-header-bg;
$ag-event-time-text: $day-time-text;
$ag-day-text: $day-text;

// All Views
#calendar-content * {
  font-family: $cal-font-family !important;
  -webkit-font-smoothing: antialiased;
}
.a, .menu-link {
  color: $cal-link;
  text-decoration: none;
  &:visited{
    color: $cal-link;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    color: $cal-link;
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    color: $cal-link;
    opacity: 1;
    text-decoration: none;
  }
  &:focus{
    color: $cal-link;
    opacity: 1;
    text-decoration: none;
  }
}
.mv-container {
  font-size: 1em;
}
.view-container-border {
  padding: 0;
  background: $cal-body;
  border: solid 1px $cal-body-dark;
}
.header {
  padding: 0;
}
.nav-table {
  padding: .5em 1em;
  width: 100%;
}
.event-details-label, .event-when {
  color: $cal-text;
}
.event-links a, .links a {
  color: $cal-link;
}
.event-description, .event-where {
  color: $cal-text;
  .a {
    color: $cal-link;
    text-decoration: none;
    &:visited{
      color: $cal-link;
      text-decoration: none;
      opacity: 0.42;
    }
    &:hover{
      opacity: 0.7;
      text-decoration: underline;
    }
    &:active{
      opacity: 1;
      text-decoration: none;
    }
  }
}
.loading {
  color: $loading-tag-text;
  background-color: $loading-tag-bg;
}
.bubble-table {
  background-color: $cal-body;
  .title {
    color: $bubble-title-text !important;
  }
  .separator {
    margin-bottom: 10px;
    background-color: $bubble-hr-bg;
  }
  td {
    padding: 0;
  }
}
.bubble-mid {
  background-color: $cal-body;
  .details {
    padding: 0 2em;
  }
}
.bubble-top, .bubble-bottom {
  background-color: $cal-body;
}
.footer {
  background: $cal-body-dark;
  border-top: solid 1px $cal-body-darker;
}
#footer1 {
  display: none;
}

// Calendar Header
.calendar-container {
  background: $cal-header-bg;
}
.today-button {
  padding: .5em 1em;
  height: auto;
  font-size: inherit;
  font-weight: normal;
  line-height: 1em;
  text-decoration: none;
  vertical-align: middle;
  color: $today-btn-text;
  background-color: $today-btn-bg;
  border: $today-btn-border;
  border-radius: $today-btn-border-radius;
  cursor: pointer;
  -webkit-appearance: none;
  &:hover {
    color: $today-btn-hover-text;
    background: $today-btn-hover-bg;
    border: $today-btn-hover-border;
  }
}
.date-top, #currentDate1 {
  color: $date-top-text !important;
}
.date-picker-on {
  padding: 0 5px;
  cursor: pointer;
}
.date-picker-off {
  padding: 0 5px;
  background: $date-top-bg;
}
.dp-monthtablediv {
  border: none;
}
.dp-cell {
  background: $dp-bg;
  color: $dp-text;
}
.dp-weekendh {
  color: $dp-header-text-weekend;
}
.dp-offmonth {
  color: $dp-text-off;
}
.dp-weekend {
  background: $dp-bg-weekend;
}
.dp-weekend-selected, .dp-weekday-selected {
  color: $dp-selected-text;
  background: $dp-selected-bg;
}
.dp-today, .dp-today-selected {
  color: $dp-today;
  background: $dp-today-bg;
  border-color: $dp-today-border;
}
.date-picker-arrow-on {
  background: $date-top-on-bg;
}
.dp-onhover {
  background-color: $dp-hover-bg;
  border-color: $dp-hover-bg;
  color: $dp-hover-text;
}
.dp-popup {
  color: $date-top-popup-text;
  background: $date-top-popup-bg;
  border-color: $date-top-popup-border;
}
.dp-cur, .dp-prev, .dp-next {
  color: $date-top-popup-border;
}
#calendarTabs1 table {
  width: 100%;
}
.ui-rtsr {
  text-align: center;
}
.ui-rtsr-selected {
  font-weight: normal;
  color: $tabs-selected-text;
  background: $tabs-selected-bg;
}
.ui-rtsr-unselected {
  color: $tabs-unselected-text;
  background: $tabs-unselected-bg;
}
.t1-embed, .t2-embed {
  display: none;
}
.tab-name {
  display: none;
}
img[title~="Print"] {
  display: none;
}
.navSpacer {
  display: none;
}

// Month View
.st-dtitle {
  background: $day-header-bg;
  border-color: $day-header-border;
  color: $cal-text-dark
}
.st-bg {
  background: $day-bg;
  border-color: $day-border;
}
.st-dtitle-today {
  background: $day-today-header-bg;
  border-color: $day-today-header-bg;
  color: $day-today-header-text;
}
.st-bg-today, .st-bg-td-first {
  background: $day-today-bg;
  border-color: $day-today-border;
}
.st-dtitle-nonmonth {
  color: $cal-text-darker
}
.st-c {
  padding-left: .5rem;
  padding-right: .5rem;
  .te-t {
    color: $day-time-text;
  }
  .te-s {
    line-height: 2em;
    color: $day-text !important;
  }
}
.mv-daynames-table {
  margin-top: 7px;
  color: $day-names-text;
  background: $day-names-bg;
}
.mv-dayname {
  text-align: center;
}
.mv-event-container {
  margin-top: 10px !important;
}
.mv-event-container {
  margin-top: 15px;
  border: none;
}

// Week View
.wk-dayname {
  color: $wk-day-text;
}
.wk-webcontent-td {
  height: 0;
}
.wk-weektop, .wk-allday, .tg-timedevents {
  background-color: $cal-body;
}
.wk-tzlabel {
  border-right: solid 1px;
}
.tg-times-pri, .tg-times-sec, .wk-tzlabel {
  background: $cal-header-bg;
}
.wk-today {
  background-color: $wk-today-header-bg;
}
.tg-today {
  background-color: $wk-today-bg;
}
.tg-dualmarker, .tg-dualmarker60, .tg-time-pri, .wk-tzlabel, .wk-allday, .wk-scrolltimedevents {
  border-color: $wk-grid-horizontal;
}
.tg-col {
  border-color: $wk-grid-vertical;
}
.tg-nowmarker {
  border-color: $wk-now-marker;
}
.tg-col-today, .wk-today {
  border-color: $wk-today-border;
}
.wk-allday {
  border-width: 1px 0 0 0;
  .st-bg {
    background: $cal-body;
    border-color: $wk-grid-vertical;
  }
}
.wk-dummyth {
  width: 0 !important;
}
.cbrd {
  background: $wk-event-bg !important;
  border-color: $wk-event-border !important;
  dd, dt {
    padding: .25em;
  }
  dd {
    color: $wk-event-text;
  }
  dt {
    font: bold 90%/normal $cal-font-family;
    color: $wk-event-header-text;
    background: $wk-event-header-bg !important;
  }
}

// Agenda View
.agenda-more {
  color: $cal-link;
}
.agenda {
  .date-label {
    color: $ag-event-header-text !important;
  }
  .event-title {
    color: $ag-day-text !important;
  }
  .event-time, .event-title {
    padding: .75em 0;
  }
  .event-time {
    font-weight: bold;
    color: $ag-event-time-text;
  }
  .event-summary {
    margin-top: 0;
    margin-bottom: 0;
  }
  .scrollbox {
    background: $cal-body;
  }
  .date-label {
    background: $ag-event-header-bg;
  }
  .event, .scrollbox, .day, .underflow-top {
    border-color: $cal-body-darker;
  }
}
